.login-card {
  width: 100%;
  max-width: 420px;
  border-radius: 18px;
}

.login-image {
  max-width: 430px;
  max-height: 330px;
  object-fit: contain;
}

.logo {
  width: 45px;
  height: 45px;
  font-size: 20px;
}
